body{
    background-color: rgb(22, 39, 58);
}

.main-log {
    width: 500px;
    display: flex;
    margin-top: 20px;
    margin-left: auto;
    padding: 20px;
    justify-content: space-around;
    /*border: 1px dashed darkblue*/
    text-align: center;
    background: rgb(241, 244, 246);
    font-family: sans-serif;
    font-weight: bold;
    border: 1px solid rgb(241, 244, 246);
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    
}

.logo {
    width: 100px;
}

input {
    width: 370px;
    height: 35px;
    display: block;
    margin: 10px 50px;
    text-indent: 30px;
    font-weight: bold;
    font-family: sans-serif;
    border: 1px solid gray;
    border-radius: 5px;
    color: rgb(31, 31, 58);
}

button {
    display: block;
    margin: 25px auto 20px auto;
    width: 220px;
    padding: 5px 0px;
    border: 1px solid navy;
    border-radius: 18px;
    background: rgb(31, 31, 58);
    color: aliceblue;
    font-weight: bold;
}

p {
    text-align: center;
    font-family: sans-serif;
    font-weight: bold;
    font-size: x-small;
}